{% extends 'adminapp/base.html' %}

{% block content %}
    <main>
        <div class="container-fluid">
            <h1 class="mt-4">Все продукты</h1>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table mr-1"></i>
                    Продукты
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Имя</th>
                                <th>Категория</th>
                                <th>Описание</th>
                                <th>Цена</th>
                                <th>Кол-во</th>
                                <th>Активный</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for product in object_list %}
                                <tr class="{% if not product.is_active %}text-muted bg-light{% endif %}">
                                    <td><a class="{% if not product.is_active %}text-muted{% endif %}"
                                           href="{% url 'admin:product_edit' product.pk %}"
                                           style="color: dodgerblue">{{ product.name }}</a></td>
                                    <td>{{ product.category }}</td>
                                    <td>{{ product.description }}</td>
                                    <td>{{ product.price }}</td>
                                    <td>{{ product.quantity }}</td>
                                    <td class="text-center"><i
                                            class="fas fa-{% if product.is_active %}check{% else %}times{% endif %}-circle"></i>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="{% url 'admin:product_create' %}">
                        <button class="btn btn-success">Создать продукт</button>
                    </a>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}