{% extends 'adminapp/base.html' %}

{% block content %}
    <main>
        <div class="container-fluid">
            <h1 class="mt-4">Удаление пользователя {{ deleted_user.username }}</h1>
        </div>
        <form action="{% url 'admin:user_delete' deleted_user.pk %}" method="post">
            {% csrf_token %}
            <div class="row text-center">
                <div class="col-lg-6 ml-3" style="margin-top: 33px;">
                    <input class="btn btn-danger btn-block" type="submit" value="Удалить">
                </div>
            </div>
        </form>
    </main>
{% endblock content %}